<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311290449733-mbth5etppmq70t85vma0g2uo50fo5let.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311290449733-mbth5etppmq70t85vma0g2uo50fo5let</string>
	<key>API_KEY</key>
	<string>AIzaSyDgaAeb35g3f7-vCxJjPiW-tcVxjRx9dVk</string>
	<key>GCM_SENDER_ID</key>
	<string>311290449733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookSwapping</string>
	<key>PROJECT_ID</key>
	<string>book-swapping-25932</string>
	<key>STORAGE_BUCKET</key>
	<string>book-swapping-25932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311290449733:ios:8f387a3a8ef93dd3c6b82c</string>
</dict>
</plist>